/* styles.css */
body {
    background: linear-gradient(to bottom right, #232526, #414345);
    margin: 0;
  }
  
  .zoom-ui-container {
    background: linear-gradient(to bottom right, rgba(35, 37, 38, 0.8), rgba(65, 67, 69, 0.8));
      /* url('path/to/your/background-image.jpg'); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .embed-responsive {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  